<br>
<div class="container form-width p-5 container">
  <h1 class="container d-flex align-items-center flex-column">Become a host and list an office</h1>
  <%= simple_form_for(@office) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <div class="form-inputs p-5 d-flex justify-content-center flex-column">
      <%= f.input :office_name, wrapper_html: {class: "form-group d-flex align-items-center flex-column"}%>
      <%= f.input :address_street, wrapper_html: {class: "form-group d-flex align-items-center flex-column"} %>
      <%= f.input :address_zip, wrapper_html: {class: "form-group d-flex align-items-center flex-column"} %>
      <%= f.input :address_city, wrapper_html: {class: "form-group d-flex align-items-center flex-column"} %>
      <%= f.input :description, wrapper_html: {class: "form-group d-flex align-items-center flex-column"}%>
      <%= f.input :rate_per_day, wrapper_html: {class: "form-group d-flex align-items-center flex-column"}%>
      <%= f.input :table_num, wrapper_html: {class: "form-group d-flex align-items-center flex-column"}%>


        <table class="table d-flex justify-content-center">
          <p class="d-flex justify-content-center mt-5">Please indicate what your office has to offer</p>
          <tbody>
            <tr>
              <td><%= f.input :wifi %></td>
              <td><%= f.input :drinks%></td>
            </tr>
            <tr>
              <td><%= f.input :snacks %></td>
              <td><%= f.input :social_events %></td>

            </tr>
            <tr>
              <td><%= f.input :community_slack %></td>
              <td><%= f.input :community_manager%></td>
            </tr>
            <tr>
              <td><%= f.input :night_shift%></td>
              <td><%= f.input :pets_allowed%></td>
            </tr>
            <tr>
              <td><%= f.input :outdoor_area %></td>
              <td><%= f.input :smoking_area %></td>
            </tr>
          </tbody>
        </table>
        <div class= "d-flex mb-2 justify-content-center">

          <%= f.input :photo, as: :file %>
        </div>
    </div>
        <div class="form-actions">
        <%= f.button :submit, class: "btn btn-obnb-main-lg" %>
        </div>
  <% end %>
</div>
