<br>
<div class="container form-width p-5">
  <h1>Become a host and list an office</h1>
  <%= simple_form_for(@office) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <div class="form-inputs p-5  ">
      <%= f.input :office_name, class: "form-group"%>
      <%= f.input :address_street, class: "form-group col-md-4" %>
      <%= f.input :address_zip, class: "form-group col-md-4" %>
      <%= f.input :address_city, class: "form-group col-md-4" %>
      <%= f.input :description, class: "form-group col-md-4"%>
      <%= f.input :rate_per_day, class: "form-group col-md-4" %>
      <%= f.input :table_num, class: "form-group col-md-4"  %>


        <table class="table d-flex justify-content-start">
          <p>Please indicate what your office has to offer</p>
          <tbody>
            <tr>
              <td><%= f.input :wifi %></td>
              <td><%= f.input :drinks%></td>
            </tr>
            <tr>
              <td><%= f.input :snacks %></td>
              <td><%= f.input :social_events %></td>

            </tr>
            <tr>
              <td><%= f.input :community_slack %></td>
              <td><%= f.input :community_manager%></td>
            </tr>
            <tr>
              <td><%= f.input :night_shift%></td>
              <td><%= f.input :pets_allowed%></td>
            </tr>
            <tr>
              <td><%= f.input :outdoor_area %></td>
              <td><%= f.input :smoking_area %></td>
            </tr>
          </tbody>
        </table>
        <div class= "mb-2">
          <p>Please upload a photo</p>
          <%= f.input :photo, as: :file %>
        </div>
    </div>
    <div class="form-actions">
    <%= f.button :submit, class: "btn btn-obnb-main-lg" %>
    </div>
  <% end %>
</div>
