<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1497366754035-f200968a6e72?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');">
  <div class="banner-content pt-2 pl-3 pb-2">
    <h1>Choose an amazing workplace nearby</h1>
    </div>
  </div>
</div>
<br>
<br>
<div>
  <%= form_tag offices_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "e.g. Berlin"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
</div>
<div class="container d-flex justify-content-center mt-5">
  <% if policy(Office).create? %>
        <%= link_to 'Add a new office', new_office_path, class: 'btn btn btn-obnb-main'%>
  <% end %>
</div>

<div class="container cards-grid mt-5">
<div class="cards mb-5">
<% @offices.each do |off| %>
<div class="card-trip">
<% if off.photo.attached? %>
  <%= cl_image_tag off.photo.key %>
<% else %>
  <img src="https://res.cloudinary.com/dvoduvlcz/image/upload/v1605699486/office5_uybgde.jpg" alt="office">
<% end %>
  <div class="card-trip-infos">
    <div>
      <h2><%= link_to off.office_name, office_path(off) %></h2>
      <p>Location: <%= off.address %></p>
    </div>
    <h2 class="card-trip-pricing"><%= off.rate_per_day %> €</h2>
    <img src="https://i.pravatar.cc/101" class="card-trip-user avatar-bordered" />
  </div>
</div>
<% end %>
</div>
<div id="map"
   style="width: 100%; height: 600px;"
   data-markers="<%= @markers.to_json %>"
   data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
</div>

