
  <div class="mb-5 text-decoration-none">
      <% @offices.each do |off| %>
        <a href="<%="/offices/#{off.id}" %>"><%= off.id %> <%= off.name %> <%= off.address %> <%= off.price %> <%= off.availability_description  %> <%= off.table_num %> <%= off.wifi  %> <%= off.amenities %> </a>
        <% end %>
  </div>




