<% if @office.photo.attached? %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @office.photo.key %>');">
    <div class="banner-content pt-2 pl-3 pb-2">
      <h1><%= @office.office_name%></h1>
    </div>
  </div>
  <% else %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://res.cloudinary.com/dvoduvlcz/image/upload/v1605699486/office5_uybgde.jpg');">
    <div class="banner-content pt-2 pl-3 pb-2">
      <h1><%= @office.office_name%></h1>
    </div>
  </div>
<% end %>

<!-- <div class="container mt-5 d-flex flex-column align-items-center">
  <div class="card-product mb-4">
    <div class="card-product-infos">
      <h2><%= @office.office_name %></h2>
      <p><strong>Description:</strong> <%= @office.description%></p>
      <p><strong>Address:</strong> <%= @office.address_street%>, <%= @office.address_zip%>, <%= @office.address_city%></p>
    </div>
  </div>
 -->
  <br>
  <div class="container">
  <div class="card-product d-flex">
    <div class="card-product-infos align-self-start">
      <h2><%= @office.office_name %></h2>
      <p><strong>Description:</strong></p>
      <p><%= @office.description%></p>
      <br>
      <p><strong>Address:</strong></p>
      <p> <%= @office.address_street%>, <%= @office.address_zip%>, <%= @office.address_city%></p>
    </div>
    <div class="card-product-infos">
      <h2>Additional infos: </h2>
      <table class="table table-bordered features-table align-self-start mt-3">
        <thead>
          <tr>
            <th scope="col">Features</th>
            <th scope="col">Available</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><strong>Wifi</strong></th>
            <% if @office.wifi == true %>
            <td><i class="fas fa-check"></i></td>
            <% else %>
            <td><i class="fas fa-times"></i></td>
            <% end %>
          </tr>
          <tr>
            <th scope="row"><strong>Drinks</strong></th>
              <% if @office.drinks == true %>
            <td><i class="fas fa-check"></i></td>
            <% else %>
              <td><i class="fas fa-times"></i></td>
            <% end %>
          </tr>
          <tr>
            <th scope="row"><strong>Snacks</strong></i></th>
              <% if @office.snacks == true %>
            <td><i class="fas fa-check"></i></td>
            <% else %>
              <td><i class="fas fa-times"></i></td>
            <% end %>
          </tr>
          <tr>
            <th scope="row"><strong>Social events</strong></th>
            <% if @office.social_events == true %>
              <td><i class="fas fa-check"></i></td>
            <% else %>
              <td><i class="fas fa-times"></i></td>
            <% end %>
          </tr>
          <tr>
            <th scope="row"><strong>Community slack</strong></th>
            <% if @office.community_slack == true %>
            <td><i class="fas fa-check"></i></td>
              <% else %>
                <td><i class="fas fa-times"></i></td>
              <% end %>
          </tr>
          <tr>
            <th scope="row"><strong>Community manager:</strong></th>
            <% if @office.community_manager == true %>
            <td><i class="fas fa-check"></i></td>
              <% else %>
            <td><i class="fas fa-times"></i></td>
              <% end %>
          </tr>
          <tr>
            <th scope="row"><strong>Night shift</strong></th>
            <% if @office.night_shift == true %>
              <td><i class="fas fa-check"></i></td>
            <% else %>
              <td><i class="fas fa-times"></i></td>
            <% end %>
          </tr>
          <tr>
            <th scope="row"><strong>Outdoor area</strong></th>
            <% if @office.outdoor_area == true %>
              <td><i class="fas fa-check"></i></td>
            <% else %>
              <td><i class="fas fa-times"></i></td>
            <% end %>
          </tr>
          <tr>
            <th scope="row"><strong>Smoking area</strong></th>
            <% if @office.smoking_area == true %>
              <td><i class="fas fa-check"></i></td>
            <% else %>
              <td><i class="fas fa-times"></i></td>
            <% end %>
          </tr>
          <tr>
            <th scope="row"><strong>Number of Tables</strong></th>
              <td><%= @office.table_num %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>

<div class="container">
  <div id="map" class="map-show mt-5"
     data-markers="<%= @marker.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>


<% if user_signed_in? %>
<div class="container form-width d-flex justify-content-center mt-5">
  <%= simple_form_for([@office, @booking]) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <div class="form-inputs">
      <%= f.input :booking_start, html5: true, input_html: {class: "formadjust"} %>
      <%= f.input :booking_end, html5: true, input_html: {class: "formadjust"} %>
    </div>
    <div class="form-actions">
      <% if user_signed_in? %>
        <%= f.button :submit, class: "btn btn-success" %>
      <% else %>
        <%= link_to "Sign up and book", new_user_session_path, class: "btn btn-success" %>
      <% end %>
    </div>
  <% end %>
</div>
<% end %>
<br>
<br>
<div class="d-flex justify-content-center">
    <%= link_to 'Back to overview', offices_path, class: 'btn btn-secondary btn-lg btn-block'%>
</div>

<% if policy(@office).edit? %>
    <%= link_to "✏️ Update my office", edit_office_path(@office) %>
<% end %>
