<% if @office.photo.attached? %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @office.photo.key %>');">
    <div class="banner-content pt-2 pl-3 pb-2">
      <h1><%= @office.office_name%></h1>
    </div>
  </div>
  <% else %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://res.cloudinary.com/dvoduvlcz/image/upload/v1605699486/office5_uybgde.jpg');">
    <div class="banner-content pt-2 pl-3 pb-2">
      <h1><%= @office.office_name%></h1>
    </div>
  </div>
<% end %>
<!-- comment in again when bookings controller show is done for the map or delete
<br>
  <div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%#= ENV['MAPBOX_API_KEY'] %>">
  </div>
<br> -->
<div class="container mt-5 d-flex flex-column align-items-center">
  <div class="card-product mb-4">
    <img src="https://images.unsplash.com/photo-1516321318423-f06f85e504b3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" />
    <div class="card-product-infos">
      <h2><%= @office.office_name %></h2>
      <p><strong>Description:</strong> <%= @office.description%></p>
      <p><strong>Address:</strong> <%= @office.address%></p>
    </div>
  </div>

  <br>
  <div class="card-product">
    <img src="https://images.unsplash.com/photo-1526411116157-21b2b172c6bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" />
    <div class="card-product-infos">
      <h2>Additional infos: </h2>
      <p><strong>Table_num:</strong> <%= @office.table_num%></p>
      <p><strong>Wifi:</strong> <%= @office.wifi%></p>
    </div>
  </div>
</div>


<% if user_signed_in? %>
<div class="form-width container mt-5">
  <%= simple_form_for([@office, @booking]) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <div class="form-inputs">
      <%= f.input :booking_start, html5: true %>
      <%= f.input :booking_end, html5: true %>
    </div>
    <div class="form-actions">
      <% if user_signed_in? %>
        <%= f.button :submit, class: "btn btn-success" %>
      <% else %>
        <%= link_to "Sign up and book", new_user_session_path, class: "btn btn-success" %>
      <% end %>
    </div>
  <% end %>
</div>
<% end %>

<br>
<div class="d-flex justify-content-center">
    <%= link_to 'Back to overview', offices_path, class: 'btn btn-secondary btn-lg btn-block'%>
</div>

<% if policy(@office).edit? %>
    <%= link_to "✏️ Update my office", edit_office_path(@office) %>
  <% end %>
