<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1497366754035-f200968a6e72?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');">
  <div class="banner-content pt-2 pl-3 pb-2">
    <h1>My OBNB</h1>
    </div>
  </div>
</div>
<br>
<br>

<div class="ml-4">
<h1>Host View: My Offices & Bookings</h1>
<div class="container d-flex flex-nowrap">
<% @offices.each do |office| %>
<div class=" mt-5 d-flex flex-column align-items-center flex-grow">
<!--   <div class="card-product-myobnb mb-4"> -->
    <div class="card-product-infos-myobnb mr-1 ml-1">
      <h2><%= office.name %></h2>
      <p><strong>Office name:</strong> <%= office.name %></p>

      <% office.bookings.each do |booking| %>
        <p><strong>Booking ID:</strong><%= booking.id %></p>
        <p><strong>Customer Email:</strong><%= booking.user.email %></p>
        <p><strong>Booking Start:</strong><%= booking.booking_start %></p>
        <p><strong>Booking End:</strong><%= booking.booking_end %></p>
        <p><strong>Booking status:</strong><%= booking.status %></p>
        
        <% if policy(booking).accept? %> 
          <%= link_to("Accept", accept_booking_path(booking), method: "put", class: 'btn btn-danger') %>
        <% end %>
        <% if policy(booking).reject? %> 
          <%= link_to("Reject", reject_booking_path(booking), method: "put", class: 'btn btn-danger') %>
        <% end %>
        <% if policy(booking).destroy? %>      
          <%= link_to "Delete", booking_path(booking), method: "delete", class: 'btn btn-danger', data: { confirm: "Are you sure?" } %>
        <% end %>
      <% end  %>
    </div>
 <!--  </div> -->
</div>
<% end %>
</div>
</div>

<br>

<div class="ml-4">
  <h1>Customer View: My personal Bookings</h1>
  <div class="container d-flex flex-nowrap">
    <% current_user.bookings.each do |booking| %>
    <div class=" mt-5 d-flex flex-column align-items-center flex-grow">
      <div class="card-product-infos-myobnb mr-1 ml-1">
      <h2><strong>ID:</strong> <%= booking.id  %></h2>
      <p><strong>Booking start</strong> <%= booking.booking_start  %></p>
      <p><strong>Booking end</strong> <%= booking.booking_end  %></p>
      <p><strong>My Email</strong> <%= booking.user.email  %></p>
    <% end %>
    </div>
  </div>
</div>
</div>

