<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1510074377623-8cf13fb86c08?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80');">
  <div class=" d-flex justify-content-center mb-2">
  <%= image_tag "obnb_logo_06.png", class: "logo-home banner-content" %>
  </div>
  <div class="banner-content pt-3 pl-3">
    <h1>Office BNB brings amazing workplaces to people with ideas and passion!</h1>
    <p>Start looking for a perfect desk to rent in your area now.</p>
    <div class="d-flex justify-content-around pb-3">
    <% if policy(Office).create? %>
      <%= link_to 'Become a host', new_office_path, class: 'btn btn btn-obnb-main'%>
    <% end %>
      <%= link_to 'Show all offices', offices_path, class: 'btn btn btn-obnb-secondary'%>
    </div>
  </div>
</div>

<div class="icon-box d-flex flex-row justify-content-around mb-5">
    <div class="d-flex flex-column justify-content-center">
      <div>
        <%= image_tag "network.svg", class: 'icons  p-2' %>
      </div>
      <div class="icons-text">
        <p><strong>Networking</strong></p>
      </div>
    </div>
    <div class="d-flex flex-column justify-content-center">
      <div>
        <%= image_tag "globe.svg", class: 'icons d-inline-flex p-2' %>
      </div>
      <div class="icons-text">
        <p><strong>Global presence</strong></p>
      </div>
    </div>
    <div class="d-flex flex-column justify-content-center">
      <div>
        <%= image_tag "money.svg", class: 'icons d-inline-flex p-2' %>
      </div>
      <div class="icons-text">
        <p><strong>Low Budget</strong></p>
      </div>
    </div>
</div>

<div class="pt-2 pb-2 mb-2 d-flex justify-content-center">
<h1>Check out our amazing office-worlds</h1>
</div>
<div class="container cards mb-5">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1552337223-9710a0e01fbc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2767&q=80)">
    <%= link_to 'Corporate',corporate_index_offices_path, class: "" %>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1556761175-b413da4baf72?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1334&q=80)">
    <%= link_to 'Startup',startup_index_offices_path%>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1522079091912-1694092d395e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1649&q=80)">
    <%= link_to 'Private Owner',private_owner_index_offices_path%>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1535930891776-0c2dfb7fda1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1334&q=80)">
    <%= link_to 'Pet-friendly',pets_allowed_index_offices_path%>
  </div>
</div>

<div class="card-category-luck" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1518688248740-7c31f1a945c4?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80)">
  Win a free day in a selected office in your city
</div>
